h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

textarea {
  resize: none;

}

input, textarea {
  font: inherit;
}
