.modal {
  &Enter {
    opacity: 0;
    transform: scale(0.9);
    &Active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
  }
  &Exit {
    opacity: 1;
    &Active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }
  }
  &Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgb(0%, 0%, 0%, 0.5);
    cursor: pointer;
  }
  &Content {
    position: relative;
    left: 50%;
    top: 50%;
    padding: 30px;
    max-width: 500px;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: default;
  }
  &Title {
    margin-bottom: 20px;
  }
  &Close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
  }
}

.success {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: var(--green);
}
