.form {
  &Field {
    padding: 3px 10px 0 10px;
    height: 30px;
    color: var(--gray);
    border-radius: 5px;
    border-color: var(--gray);
    transition: border 0.3s ease, outline 0.3s ease;
    &:focus {
      border: 1px solid var(--orange) !important;
      outline: 1px solid var(--orange);
    }
    &Container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      &:last-of-type {
        margin-bottom: 40px;
      }
      & > textarea {
        padding: 10px 10px;
        height: 100px;
      }
      &Label {
        margin-bottom: 5px;
        font-weight: 600;
      }
    }
  }

  &Button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
  }
}

.error {
  position: absolute;
  bottom: -23px;
  right: 4px;
  padding: 7px 0;
  color: var(--red);
  font-size: 10px;
  &ServerAnsver {
    bottom: 43px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}