.header {
  display: flex;
  align-items: center;
  height: 70px;
  background: var(--orange);
  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &Logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    &Text {
      padding: 5px 15px 0 10px;
      font-weight: 600;
    }
  }

}
